/* =============================== */
/* projects page component styling */
/* =============================== */

.projects-page {
  display: grid;
  grid: repeat(5, auto) / auto;

  position: relative;
  justify-items: center;
  justify-self: center;

  padding: 200px 0;
  width: 100%;
  margin: 0 auto;

  background-color: var(--dark-gray);

  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
}

.projects-page .intro-diag {
  transform: skewY(8deg);
}

.projects-page .title {
  z-index: 5;

  padding: 0 3px 100px 3px;

  background-color: var(--dark-gray);

  color: var(--light);

  transform: translateY(-25px);
}

/* ============== */
/* responsiveness */
/* ============== */

@media only screen and (max-width: 550px) {
  .projects-page {
    padding-bottom: 100px;
  }

  .projects-page .title {
    transform: translateY(-18px);
  }
}

@media only screen and (max-width: 400px) {
  .projects-page .title {
    padding: 0 1px 100px 1px;
  }
}
