/* =============================== */
/* projects page component styling */
/* =============================== */

.projects-page {
  display: grid;
  grid: auto auto auto / auto;

  position: relative;
  justify-items: center;
  justify-self: center;

  padding: 100px 0 200px 0;
  width: 100%;
  margin: 0 auto;

  background-color: var(--dark-gray);
  color: var(--light);

  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
}

/* ============== */
/* responsiveness */
/* ============== */

@media only screen and (max-width: 700px) {
  .projects-page p,
  .projects-page .button,
  .projects-page .outline {
    font-size: 18px;
  }
}

@media only screen and (max-width: 520px) {
  .projects-page {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 450px) {
  .projects-page p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .projects-page .button,
  .projects-page .outline {
    font-size: 16px;
  }
}
