/* ========================= */
/* Project component styling */
/* ========================= */

.project {
  display: grid;

  justify-items: center;
  justify-self: center;

  width: 100%;
}

.project .diag-line {
  transform: skewY(8deg) translateY(140px);
}

.project-container {
  display: grid;
  grid: 200px repeat(3, min-content) / 700px min-content;
  grid-row-gap: 40px;

  justify-items: center;
  justify-self: center;

  padding: 15px 0 200px 40px;
  width: min-content;

  transition: 0;
}

.project-container h1 {
  grid-row: 1;
  grid-column: 1 / 3;

  justify-self: left;
  
  transition: 0;
  transform: rotate(8deg) translateY(48px);
}

.img-container {
  display: grid;
  grid: 1fr / 1fr;
}

.img-outline {
  grid-row: 1;
  grid-column: 1;

  position: relative;
  z-index: 2;

  width: auto;
  height: auto;

  border: 1px solid var(--light-gray);

  transition: var(--speed);
  transform: translate(10px, -10px);
}

.img-container p {
  justify-self: right;
  margin-top: 10px;
  color: var(--light-gray);
}

.project-buttons {
  display: grid;

  align-content: center;
  justify-self: left;

  padding-left: 20px;
}

.project .button-container {
  padding: 10px 0;
}

.project-text-container {
  display: grid;
  grid: repeat(2, min-content) / 1fr;
}

.project-text-container p {
  padding-bottom: 20px;
  color: var(--text);
  line-height: var(--line-height);
}

.project-text-container li {
  padding-left: 20px;
  color: var(--text);
  line-height: var(--line-height);
}

/* ============== */
/* responsiveness */
/* ============== */

/* project and code buttons shift below images */
@media only screen and (max-width: 1000px) {
  .project-container {
    grid: 200px repeat(4, min-content) / min-content;
    margin-left: -120px;
    transition: 0;
  }

  .project-buttons {
    grid: 1fr / 1fr 1fr;
    grid-row: 3;

    justify-self: center;

    padding: 0;
  }

  .project-buttons .button-container {
    padding: 0 10px;
  }

  .project-text-container {
    grid-row: 4;
  }
}

/* smoothens shifting layout */
@media only screen and (max-width: 910px) {
  .project-container {
    transition: var(--speed);
  }
}

@media only screen and (max-width: 900px) {
  .project-container {
    margin-left: -80px;
    transition: var(--speed);
  }

  .project h1 {
    transform: rotate(8deg) translateY(50px);
  }
}

@media only screen and (max-width: 850px) {
  .project-container {
    margin-left: -50px;
    transition: var(--speed);
  }

  .project h1 {
    transform: rotate(8deg) translateY(53px);
  }
}

@media only screen and (max-width: 800px) {
  .project-container {
    padding-left: 0;
    margin-left: 0;
    
    transition: var(--speed);
  }

  .project h1 {
    transform: rotate(8deg) translateY(60px);
  }

  .img-container img {
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .project h1 {
    transform: rotate(8deg) translateY(65px);
  }

  .img-container img {
    width: 550px;
  }

  .project li {
    font-size: 18px;
  }
}

@media only screen and (max-width: 620px) {
  .project-container {
    padding-right: 10px;
    padding-bottom: 100px;
    transform: scale(0.9);
  }

  .project h1 {
    transition: var(--speed);
    transform: rotate(8deg) translateY(80px);
  }

  .project .diag-line {
    transition: var(--speed);
    transform: skewY(8deg) translateY(195px);
  }

  .img-container img {
    width: 500px;
  }
}

@media only screen and (max-width: 520px) {
  .project-container {
    padding-bottom: 50px;
  }

  .project h1 {
    font-size: 30px;
    transition: var(--speed);
    transform: rotate(8deg) translateY(90px);
  }

  .img-container img {
    width: 450px;
  }

  .next-btn {
    transform: scale(0.7);
  }

  .btn-r {
    margin-right: 5px;
  }

  .btn-l {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 450px) {
  .project h1 {
    font-size: 28px;
    transition: var(--speed);
    transform: rotate(8deg) translateY(88px);
  }

  .img-container img {
    width: 400px;
  }

  .project li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .project h1 {
    transition: var(--speed);
    transform: rotate(8deg) translateY(102px);
  }

  .img-container img {
    width: 350px;
  }
}
