/* ======================== */
/* Button component styling */
/* ======================== */

.button-container { 
  display: grid;
  grid: 1fr / 1fr;
}

.button,
.logo,
.outline {
  grid-row: 1;
  grid-column: 1;

  justify-items: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  
  padding: 5px 20px;
  height: 36px;
  width: max-content;

  background-color: var(--btn);
  color: var(--dark-gray);
  border-radius: 20px;
  border: 1px solid var(--btn);

  font-size: 20px;

  transition: var(--speed);
}

.outline {
  position: relative;
  top: -4px;
  right: -4px;
  z-index: 0;

  background-color: var(--clear);
  color: var(--clear);
  border: 1px solid var(--btn);
  box-shadow: 1px 1px 3px 0px var(--shadow);
}

.button:hover {
  background-color: var(--dark-gray);
  color: var(--light);
  border: 1px solid var(--light);

  transition: var(--speed);
  transform: translate(1px, -1px);
}

/* outline takes on same color as btn */
.button:hover + .outline {
  border: 1px solid var(--light);
}

/* on click indicator */
.button:active {
  background-color: var(--light);
  transition: var(--click-speed);
  transform: translate(3px, -3px);
}


/* ============== */
/* responsiveness */
/* ============== */

@media only screen and (max-width: 550px) {
  .button,
  .outline {
    height: 34px;
    font-size: 18px;
  }
}