/* =========================== */
/* List item component styling */
/* =========================== */

.list-item {
  display: grid;
  grid: min-content / min-content auto;
  padding: 0;
}

.bullet {
  padding: 0 20px;
}
