/* ============================== */
/* Skip to main component styling */
/* ============================== */

.skip-to-main {
  position: fixed;
  top: -40px;
}

.skip-to-main:focus {
  position: fixed;
  z-index: 12;

  top: 80px;

  background-color: var(--med-gray);
  box-shadow: 2px 2px 5px 1px var(--shadow);
}
