/* ============================= */
/* Resume page component styling */
/* ============================= */

.resume-page {
  display: grid;
  grid: repeat(5, auto) / 1fr;
  grid-row-gap: 20px;

  position: relative;
  justify-items: center;
  justify-content: center;
  z-index: 4;

  padding: 200px 0;
  width: 100%;

  background-color: var(--dark-gray);

  text-align: center;
  
  transition: var(--speed);
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
}

.resume-page .title {
  z-index: 5;
  padding: 0 0 50px 5px;
  background-color: var(--dark-gray);

  transform: translateY(-48px);
  transition: var(--speed);
}

.resume-content-container {
  margin: 40px 0 100px 0;
  padding: 0 40px;
  max-width: 1000px;

  transition: var(--speed);
}

.resume-content {
  display: grid;
  row-gap: 20px;

  padding: 40px;

  background-color: var(--med-gray);
  border: 1px solid var(--light-gray);
  box-shadow: 0 0 5px 2px var(--shadow);
  color: var(--text);

  transition: var(--speed);
}

.resume-content h1 {
  font-size: 24px;
}

.resume-content h2,
.resume-content h3,
.resume-content h4,
.resume-content p,
.resume-content a,
.resume-content li {
  font-size: 16px;
}

.resume-content h1,
.resume-content h2 {
  font-weight: 700;
}

.resume-content h2 {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid var(--light-gray);
}

/* header */
.resume-content-head span{
  display: grid;
  grid: min-content / repeat(3, min-content);
  justify-content: center;
}

.resume-content-section {
  display: grid;
  justify-self: left;
  text-align: left;
  width: 100%;
}

.resume-content-block {
  padding-bottom: 20px;
}

/* ============== */
/* responsiveness */
/* ============== */

/* resume switches from pdf to image */
@media only screen and (max-width: 900px) {
  .resume-content-container {
    padding: 0 20px;
    transition: var(--speed);
  }

  .resume-content {
    padding: 40px 20px;
    transition: var(--speed);
  }
}

@media only screen and (max-width: 700px) {
  .resume-page {
    padding: 200px 0 100px 0;
  }

  .resume-page .title {
    padding: 0 2px 20px 2px;
    transform: translateY(-42px);
    transition: var(--speed);
  }

  .resume-content h1 {
    font-size: 20px;
  }

  .resume-content h2,
  .resume-content h3,
  .resume-content h4,
  .resume-content p,
  .resume-content a,
  .resume-content li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 550px) {
  .resume-page .title {
    transform: translateY(-40px);
    transition: var(--speed);
  }

  .resume-content-container {
    padding: 0;
    transition: var(--speed);
  }

  .resume-content {
    padding: 40px 10px;
    border-left: none;
    border-right: none;
  }

  .resume-content h1 {
    font-size: 18px;
  }

  .resume-content h2,
  .resume-content h3,
  .resume-content h4,
  .resume-content p,
  .resume-content a,
  .resume-content li {
    font-size: 12px;
  }
}
