/* ============================= */
/* Resume page component styling */
/* ============================= */

.resume {
  display: grid;
  grid: repeat(4, min-content) / 1fr;
  grid-row-gap: 20px;

  position: relative;
  justify-items: center;
  justify-content: center;
  z-index: 4;

  padding: 200px 0 300px 0;
  width: 100%;

  background-color: var(--dark-gray);
  color: var(--light);

  text-align: center;
  
  transition: var(--speed);
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
}

.resume .diag-line {
  transform: skewY(-8deg) translateY(45px);
}

.resume h1 {
  z-index: 5;
  padding: 0 0 50px 5px;
  background-color: var(--dark-gray);
}

.resume .button-container {
  padding: 0;
}

.resume-content-container {
  display: grid;

  justify-items: center;

  margin-top: 20px;
  width: 100%;
  max-width: 810px;
  height: 1045px;
  
  border: 1px solid var(--light);
  filter: brightness(0.9);

  transition: var(--speed);
}

.resume-content-container p,
.resume-content-container a {
  padding-top: 30px;
  font-size: 24px;
}

.resume-pdf {
  display: block;

  justify-self: center;

  width: 100%;
  height: 100%;

  transition: var(--speed);
}

.resume-png {
  display: none;
}

/* ============== */
/* responsiveness */
/* ============== */

@media only screen and (min-width: 1600px) {
  .resume-content-container {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  .resume-content-container {
    padding-left: 0;
    transition: var(--speed);
    transform: scale(0.85) translateY(-80px);
  }
}

/* resume switches from pdf to image */
@media only screen and (max-width: 700px) {
  .resume {
    padding: 200px 0 100px 0;
  }

  .resume .diag-line {
    transform: skewY(-8deg) translateY(42px);
  }

  .resume-content-container {
    padding: 5px;
    margin-top: 40px;
    width: 100%;
    height: min-content;
  }

  .resume-pdf {
    display: none;
  }

  .resume-png {
    display: block;
  }

  .resume h1 {
    padding: 0 2px 20px 2px;
    font-size: 30px;
    transition: var(--speed);
  }

  .resume p,
  .resume .button,
  .resume .outline {
    font-size: 18px;
    transition: var(--speed);
  }
}

@media only screen and (max-width: 400px) {
  .resume .diag-line {
    transform: skewY(-8deg) translateY(46px);
  }

  .resume-content-container {
    padding: 0;
  }

  .resume h1 {
    padding: 0 0 20px 2px;
    font-size: 24px;
    transform: translateY(8px);
  }

  .resume p,
  .resume .button,
  .resume .outline {
    font-size: 16px;
  }
}
