/* =========================== */
/* Span text component styling */
/* =========================== */

.span-text {
  display: grid;
  grid: min-content / repeat(3, auto);
  justify-content: left;
  width: 100%;
}

.colon {
  padding-right: 5px;
}
