/* ========================== */
/* Art page component styling */
/* ========================== */

.art-page {
  display: grid;
  
  padding: 200px 0;
  width: 100%;

  transition: var(--fade-speed);
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
}

.art-intro {
  display: grid;
  justify-items: center;
  width: 100%;
}

.art-intro .diag-line {
  transform: skewY(8deg);
}

.art-intro h1 {
  z-index: 5;

  padding: 0 5px 0 0;

  background-color: var(--dark-gray);

  color: var(--light);

  transform: translateY(-30px);
}

.art-intro p {
  padding-top: 50px;
  max-width: 500px;

  text-align: center;
  line-height: var(--line-height);
  color: var(--text);
}