/* ======================= */
/* About component styling */
/* ======================= */

.about {
  display: grid;
  grid: repeat(3, min-content) / 1fr;

  position: relative;
  justify-content: center;
  z-index: 4;

  width: 100%;

  transition: var(--speed);
  -ms-transform: translate3d(0, 300px, 0);
  -webkit-transform: translate3d(0, 300px, 0);
  transform: translate3d(0, 300px, 0);
}

/* creates header fade effect */
.fade-box {
  display: block;

  position: relative;

  height: 250px;
  width: 100%;

  background-image: linear-gradient(var(--clear), var(--dark-gray));

  pointer-events: none;

  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0) skewY(-8deg) translateY(-199px);
}

.cover-box {
  display: block;
  position: relative;
  height: 200px;
  top: 340px;
  background-color: var(--dark-gray);
}

.about .diag-line {
  transform: skewY(-8deg) translateY(15px);
}

.about-skew-container {
  display: grid;
  background-color: var(--dark-gray);
  padding-bottom: 200px;
  transform: skewY(-8deg) translateY(-400px);
}

.about-container {
  display: grid;
  grid: repeat(5, min-content) / 1fr;

  justify-items: center;
  justify-self: center;
  text-align: center;

  margin: 0 80px;
  width: 100%;

  transform: skewY(8deg);
}

.about h1 {
  position: relative;
  z-index: 5;

  padding: 0 0 70px 3px;
  line-height: 0.6;

  background-color: var(--dark-gray);

  transition: var(--speed);
}

.about p {
  padding: 20px 0;
  max-width: 500px;

}

.about .button-container {
  justify-self: center;
  padding-top: 20px;
}

/* ============== */
/* responsiveness */
/* ============== */

@media only screen and (max-width: 700px) {
  .fade-box {
    height: 200px;
  }

  .cover-box {
    top: 300px;
  }

  .about .diag-line {
    transform: skewY(-8deg) translateY(12px);
  }

  .about h1 {
    transition: var(--speed);
  }

  .about .button,
  .about .outline {
    transition: var(--speed);
  }

  .about p {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 550px) {
  .fade-box {
    height: 150px;
  }

  .cover-box {
    top: 220px;
  }

  .about-skew-container {
    padding-bottom: 100px;
  }

  .about .diag-line {
    transform: skewY(-8deg) translateY(10px);
  }
}

@media only screen and (max-width: 400px) {
  .cover-box {
    top: 250px;
  }
}