/* ======================== */
/* Header component styling */
/* ======================== */

header {
  display: grid;
  grid: 100vh / 1fr 1fr;

  position: sticky;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  top: 20px;
  z-index: 2;

  margin: 0 100px;
  height: 100%;

  color: white;
  
  transition: var(--speed);
  -webkit-transform:translate3d(0,0,0);
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
}

.intro-container {
  align-self: center;
  justify-self: left;
  justify-content: left;

  padding-left: 10px;
  margin-top: 40px;
  max-width: 450px;

  color: var(--text);
  
  transition: var(--fade-speed);
}

.intro-container h1 {
  color: var(--header);
  font-size: 44px;
}

.intro-container p {
  line-height: var(--line-height);
}

.intro-container .button-container {
  padding: 0;
}

header figure {
  align-self: center;
  justify-self: right;
  
  filter: brightness(0.85);

  transition: var(--fade-speed);
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
  cursor: pointer;
}

/* image fade on switch */
header figure:active {
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
} 

header figure:active {
  animation: none;
  -webkit-animation: none;
}

/* remove effect for mobile */
@media (pointer: coarse) {
  header figure,
  header figure:active {
    animation: none;
    -webkit-animation: none;
  }
}

header figure:hover {
  filter: brightness(1);
  transition: var(--speed);
}

header img {
  transition: var(--speed);
}

/* ============== */
/* responsiveness */
/* ============== */

@media only screen and (max-width: 1020px) {
  header {
    grid: 100vh / 1fr 1fr;
    margin: 0 60px;
  }

  header img {
    width: 450px;
    transition: var(--speed);
  }
}

@media only screen and (max-width: 900px) {
  .intro-container h1 {
    min-width: 180px;
  }

  header img {
    width: 380px;
    transition: var(--speed);
  }
}

@media only screen and (max-width: 820px) {
  header {
    margin: 0 30px;
  }

  header img {
    width: 350px;
    transition: var(--speed);
  }

  .intro-container h1 {
    width: max-content;
    font-size: 30px;
  }

  header p,
  header a,
  header .outline {
    font-size: 18px;
  }
}

/* change to vertical layout */
@media only screen and (max-width: 700px),
            screen and (orientation: portrait)  {
  header {
    grid: min-content min-content / 1fr;
    padding-top: 40px;
  }

  header figure {
    grid-row: 1;
    justify-self: center;
  }

  header img {
    max-width: 350px;
    height: auto;
    transition: var(--speed);
  }

  .intro-container {
    display: grid;

    align-self: top;
    justify-self: center;
    justify-items: center;
    text-align: center;
    
    padding: 0 10px;
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  header img {
    max-width: 340px;
    height: auto;
    transition: var(--speed);
  }
}

@media only screen and (max-width: 400px) {
  header {
    position: sticky;
    margin: 0 10px;
  }

  header img {
    width: auto;
    max-height: 42vh;
    transition: var(--speed);
  }

  .intro-container h1 {
    font-size: 24px;
  }

  header p,
  header a,
  header .outline {
    font-size: 16px;
  }
}

/* vertical height responsiveness */
@media only screen and (max-width: 700px) 
                   and (max-height: 720px),
            screen and (min-width: 700px) 
                   and (max-height: 400px) {
  header {
    position: relative;
    height: auto;
  }
}

/* ignore relative on smaller mobile devices */
@media only screen and (max-width: 400px) 
                   and (max-height: 720px) {
  header {
    position: sticky;
  }
}

@media only screen and (min-width: 900px) 
                   and (max-height: 680px) {
  header figure {
    justify-self: center;
  }

  header img {
    width: 380px;
    height: auto;
    transition: var(--speed);
  }
}

@media only screen and (min-width: 820px) 
                   and (max-height: 600px) {
  header img {
    width: 320px;
    height: auto;
    transition: var(--speed);
  }
}

/* tablet portrait, header appears larger */
@media only screen and (min-width: 600px)
                   and (min-height: 900px)
                   and (orientation: portrait) {
  header {
    margin: 100px;
    transform: scale(1.2);
  }
}
