/* ============================== */
/* Contact info component styling */
/* ============================== */

.info {
  width: min-content;
}

.info p:hover {
  color: var(--btn);
  transition: var(--speed);
  cursor: pointer;
}

/* on click indicator */
.info p:active {
  color: var(--light);
  transition: var(--speed);
}
