/* ==================================== */
/* Social media icons component styling */
/* ==================================== */

.social-container {
  display: grid;
  grid: 80px / 1fr 1fr;
  column-gap: 20px;

  align-items: center;
  justify-self: center;

  width: min-content;
}

.social-button {
  display: grid;
}

.social-button .fa {
  justify-self: center;

  padding: 4px 7px;

  background-color: var(--light);
  color: var(--dark-gray);
  border-radius: 24px;

  font-size: 22px;
  text-align: center;
  
  transition: var(--speed);
}

.social-button .fa {
  grid-row: 1;
  grid-column: 1;

  z-index: 2;
}

.social-button .fa:hover {
  background-color: var(--btn);

  transition: var(--speed);
  transform: translate(1px, -1px);
}

.social-button + .social-outline,
.fa:hover + .social-outline {
  border: 1px solid var(--btn);
}

/* on click indicator */
.social-button .fa:active {
  background-color: var(--light);

  transition: var(--speed);
  transform: translate(2px, -2px);
}

.social-button span {
  display: none;
}

.social-outline {
  grid-row: 1;
  grid-column: 1;

  position: relative;
  z-index: 1;

  padding: 15px;

  background-color: var(--clear);
  border: 1px solid var(--light);
  border-radius: 24px;
  box-shadow: 1px 1px 3px 0px var(--shadow);
  
  transform: translate(3px, -3px);
}
