
.button-container {
  display: grid;
}

.button,
.logo,
.outline {
  background-color: var(--btn);
  height: 36px;
  padding: 5px 20px;
  width: max-content;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  color: black;
  transition: var(--speed);
  border: 1px solid var(--btn);
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.button:hover {
  background-color: var(--dark-gray);
  color: var(--light);
  border: 1px solid var(--light);
  transition: var(--speed);
  transform: translate(1px, -1px);
}

.button:hover + .outline {
  border: 1px solid var(--light);
}

.button:active {
  background-color: var(--light);
  transition: var(--click-speed);
  transform: translate(3px, -3px);
}

.outline {
  font-size: 20px;
  color: var(--clear);
  background-color: var(--dark-gray);
  border: 1px solid var(--btn);
  position: relative;
  z-index: 0;
  top: -4px;
  right: -4px;
}
