.info {
  display: grid;
}

.info p {
  color: var(--text);
  line-height: var(--line-height);
}

.info p:hover {
  color: var(--btn);
  transition: var(--speed);
  cursor: pointer;
}

.info p:active {
  color: var(--light);
  transition: var(--speed);
}
