
/* ================================= */
/* ============ header ============= */
/* ================================= */

header {
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
  display: grid;
  grid: 100vh / 1fr 1fr;
  color: white;
  height: 100vh;
  margin-bottom: -100px;
  justify-self: center;
  align-items: center;
  align-content: center;
  margin: 0 100px;
  top: 0;
  position: sticky;
  z-index: 2;
  transition: var(--speed);
  -webkit-transform:translate3d(0,0,0);
}

.intro-container {
  margin-top: 40px;
  color: var(--text);
  justify-self: left;
  justify-content: left;
  align-self: center;
  padding-left: 10px;
  max-width: 450px;
}

.intro-container h1 {
  color: var(--header);
  font-size: 44px;
}

.intro-container p {
  line-height: var(--line-height);
}

.intro-container .button-container {
  padding: 0;
}

header figure {
  cursor: pointer;
  justify-self: right;
  align-self: center;
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
  filter: brightness(0.85);
  transition: var(--speed);
}

header figure:active {
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
}

header figure:active {
  animation: none;
  -webkit-animation: none;
}

header figure:focus:active {
  animation: fadeIn var(--fade-speed);
  -webkit-animation: fadeIn var(--fade-speed);
}

header figure:hover {
  transition: var(--speed);
  filter: brightness(1);
}

header img {
  transition: var(--speed);
}

@media only screen and (max-width: 1020px) {
  header {
    margin: 0 60px;
  }

  header img {
    transition: var(--speed);
    width: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .intro-container h1 {
    min-width: 180px;
  }

  header img {
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  header {
    margin: 0 30px;
  }

  header img {
    width: 350px;
  }

  .intro-container h1 {
    font-size: 30px;
    width: max-content;
  }

  header p,
  header a,
  header .outline {
    font-size: 18px;
  }
}

@media only screen and (max-width: 700px),
            screen and (orientation: portrait)  {
  header {
    grid: min-content min-content / 1fr;
    padding-top: 60px;
  }

  header figure {
    grid-row: 1;
    justify-self: center;
  }

  header img {
    max-width: 350px;
    height: auto;
  }

  .intro-container {
    display: grid;
    padding: 0 10px;
    margin: 0;
    justify-self: center;
    justify-items: center;
    align-self: top;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  header {
    align-items: start;
    align-content: start;
  }

  header img {
    max-width: 340px;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  header {
    margin: 0 10px;
  }

  header img {
    max-height: 42vh;
    width: auto;
  }

  .intro-container h1 {
    font-size: 24px;
  }

  header p,
  header a,
  header .outline {
    font-size: 16px;
  }
}

/* ================================= */
/* ============= about ============= */
/* ================================= */

.fade-box {
  display: block;
  height: 320px;
  /* background-color: green; */
  background-image: linear-gradient(var(--clear), var(--dark-gray));
  transition: var(--speed);
  width: 100%;
  position: relative;
  z-index: 3;
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.about {
  width: 100%;
  justify-content: center;
  display: grid;
  grid: repeat(3, min-content) / 1fr;
  position: relative;
  z-index: 4;
  transition: var(--speed);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.about .diag-line {
  transform: skewY(-8deg) translateY(47px);
}

.about-container {
  background-color: var(--dark-gray);;
  width: 100%;
  padding: 0 0 200px 0;
  display: grid;
  grid: repeat(6, min-content) / 1fr;
  row-gap: 20px;
  text-align: center;
  justify-items: center;
  justify-self: center;
  margin: 0 80px;
}

.about h1 {
  padding: 0 0px 50px 5px;
  background-color: var(--dark-gray);;
  z-index: 5;
  color: var(--header);
  transition: var(--speed);
}

.about p {
  max-width: 500px;
  color: var(--text);
  line-height: var(--line-height);
  transition: var(--speed);
  padding-bottom: 20px;
}

.about .button {
  justify-self: center;
}

/* responsiveness */
@media only screen and (max-width: 700px) {
  .about .fade-box {
    height: 280px;
  }

  .about .diag-line {
    transform: skewY(-8deg) translateY(42px);
  }

  .about h1 {
    font-size: 30px;
    transition: var(--speed);
  }

  .about p,
  .about .button,
  .about .outline {
    font-size: 18px;
    transition: var(--speed);
  }

  .about p {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 400px) {
  .about .fade-box {
    height: 250px;
  }

  .about h1 {
    font-size: 24px;
  }

  .about .diag-line {
    transform: skewY(-8deg) translateY(38px);
  }
  
  .about-container {
    padding-bottom: 0;
  }
  .about p,
  .about .button,
  .about .outline {
    font-size: 16px;
  }
}

/* ================================= */
/* ============ contact ============ */
/* ================================= */

.contact {
  width: 100%;
  justify-content: center;
  display: grid;
  grid: repeat(2, min-content) / 1fr;
  padding: 200px 0 300px 0;
  position: relative;
  z-index: 7;
  background-color: var(--dark-gray);;
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.contact .diag-line {
  transform: skewY(-8deg) translateY(45px);
}

.contact-container {
  display: grid;
  grid: repeat(6, min-content) / 1fr;
  text-align: center;
  justify-items: center;
  justify-self: center;
  width: 100%;
  padding: 0;
}

.contact h1 {
  padding: 0 5px 10px 2px;
  background-color: var(--dark-gray);
  z-index: 8;
  transform: translateY(20px);
  color: var(--header);
}

.contact-copy {
  color: var(--text);
  padding-top: 30px;
  font-size: 18px;
}

.contact .info {
  margin-top: 40px;
}

.contact .button-container {
  padding: 0;
}

.contact .button {
  justify-self: center;
}


/* responsiveness */
@media only screen and (max-width: 700px) {
  .contact h1 {
    padding-right: 3px;
    font-size: 30px;
    transition: var(--speed);
  }

  .contact .diag-line {
    transform: skewY(-8deg) translateY(40px);
  }

  .contact-copy {
    font-size: 16px;
  }
  
  .contact .info p,
  .contact .button,
  .contact .outline {
    font-size: 18px;
    transition: var(--speed);
  }
}

@media only screen and (max-width: 400px) {
  .contact {
    padding-bottom: 100px;
  }
  
  .contact h1 {
    padding: 0 3px 30px 0;
    font-size: 24px;
  }

  .contact .diag-line {
    transform: skewY(-8deg) translateY(38px);
  }
  
  .contact-copy {
    padding-bottom: 0;
    font-size: 12px;
  }

  .contact .info p,
  .contact .button,
  .contact .outline {
    font-size: 16px;
  }
}
