.logo {
  background-color: var(--btn);
  height: 36px;
  width: auto;
  padding: 5px 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  color: black;
  transition: var(--speed);
  border: 1px solid var(--btn);
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.logo:hover {
  filter: invert(1);
  background-color: var(--light);
  border: 1px solid black;
  transition: var(--speed);
  transform: translate(1px, -1px);
}

.logo:hover + .outline {
  border: 1px solid var(--light);
}

.logo:active {
  background-color: black;
  transition: var(--click-speed);
  transform: translate(3px, -3px);
}

.logo-outline {
  width: auto;
}
