/* ================================= */
/* ============= projects =========== */
/* ================================= */
.projects {
  color: var(--light);
  display: grid;
  position: relative;
  width: 100%;
  justify-items: center;
  justify-self: center;
  margin: 0 auto;
  padding: 100px 0 200px 0;
}

.project {
  display: grid;
  justify-items: center;
  justify-self: center;
  width: 100%;
}

.project .diag-line {
  transform: skewY(8deg) translateY(140px);
}

.project-container {
  display: grid;
  grid: 200px repeat(3, min-content) / 700px min-content;
  grid-row-gap: 40px;
  justify-items: center;
  width: min-content;
  justify-self: center;
  padding: 15px 0 200px 40px;
  transition: 0;
}

.project-container h1 {
  justify-self: left;
  grid-row: 1;
  grid-column: 1 / 3;
  transition: 0;
  transform: rotate(8deg) translateY(48px);
}

.img-container {
  display: grid;
}

.img-outline {
  width: auto;
  height: auto;
  position: relative;
  transform: translate(10px, -10px);
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  border: 1px solid white;
}

.img-container img {
  grid-row: 1;
  grid-column: 1;
  z-index: 4;
  transition: var(--speed);
}

.img-container p {
  margin-top: 10px;
  justify-self: right;
}

.project-buttons {
  display: grid;
  align-content: center;
  padding: 0;
  justify-self: left;
}

.project-buttons {
  padding-left: 20px;
}

.button-container {
  padding: 10px 0 10px 20px;
}

.project-text-container {
  display: grid;
  grid: repeat(2, min-content) / 1fr;
}

.project-text-container p {
  padding-bottom: 20px;
  color: var(--text);
  line-height: var(--line-height);
}

.project-text-container li {
  color: var(--text);
  line-height: var(--line-height);
  padding-left: 20px;
}

/* responsivness */
@media only screen and (max-width: 1000px) {
  .project-container {
    grid: 200px repeat(4, min-content) / min-content;
    transition: 0;
    margin-left: -120px;
  }

  .project-buttons {
    justify-self: center;
    padding: 0;
    grid: 1fr / 1fr 1fr;
    grid-row: 3;
  }

  .project-buttons .button-container {
    padding: 0 10px;
  }

  .project-text-container {
    grid-row: 4;
  }
}

/* smoothens responsive layout */
@media only screen and (max-width: 910px) {
  .project-container {
    transition: var(--speed);
  }
}

@media only screen and (max-width: 900px) {
  .project h1 {
    transform: rotate(8deg) translateY(50px);
  }

  .project-container {
    transition: var(--speed);
    margin-left: -80px;
  }
}

@media only screen and (max-width: 850px) {
  .project h1 {
    transform: rotate(8deg) translateY(53px);
  }

  .project-container {
    transition: var(--speed);
    margin-left: -50px;
  }
}

@media only screen and (max-width: 800px) {
  .project h1 {
    transform: rotate(8deg) translateY(60px);
  }

  .project-container {
    transition: var(--speed);
    margin-left: 0;
    padding-left: 0;
  }

  .img-container img {
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .project h1 {
    transform: rotate(8deg) translateY(65px);
  }

  .img-container img {
    width: 550px;
  }
}

@media only screen and (max-width: 620px) {
  .project h1 {
    transition: var(--speed);
    transform: rotate(8deg) translateY(75px);
  }

  .project .diag-line {
    transition: 200ms;
    transform: skewY(8deg) translateY(195px);
  }

  .img-container img {
    width: 500px;
  }

  .project-container {
    padding-right: 10px;
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 520px) {
  .img-container img {
    width: 450px;
  }
}
