/* ======================== */
/* Footer component styling */
/* ======================== */

footer {
  justify-content: center;
  z-index: 3;

  padding: 0 200px 60px 200px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  background-color: var(--black-gray);
  
  transition: var(--speed);
}

.footer-container {
  display: grid;
  grid: 1fr 1fr / repeat(4, 1fr);

  justify-items: left;
}

.footer-name h1 {
  font-size: 32px;
  margin-bottom: 20px;
  width: min-content;
}

footer h2 {
  margin-bottom: 20px;
}

footer li {
  width: min-content;
}

footer .link:hover,
.footer-name h1:hover {
  color: var(--btn);
  text-decoration: underline;
  transition: var(--speed);
}

.footer-contact {
  width: max-content;
  color: var(--light-gray);
  font-size: 16px;
}

.footer-contact-li:hover {
  color: var(--text);
  text-decoration: none;
}

footer .link:active,
.footer-name:active {
  color: var(--light);
  transition: var(--speed);
}

footer .info {
  row-gap: 5px;
  padding-top: 5px;
}

/* all except last list item */
footer li:not(:last-child) {
  margin-bottom: 5px;
}

/* spans entire footer */
.copyright {
  grid-column: 1 / 5;

  align-self: center;
  justify-self: center;
  
  margin-top: 60px;

  text-align: center;
}

/* ============== */
/* responsiveness */
/* ============== */

@media only screen and (max-width: 1200px) {
  footer {
    padding: 0 100px 100px 100px;
  }
}

@media only screen and (max-width: 850px) {
  footer {
    padding: 0 60px 100px 60px;
  }
}

/* name appears on top of other items */
@media only screen and (max-width: 800px) {
  .footer-container {
    grid: auto 1fr 1fr / repeat(3, 1fr);
    justify-items: left;
  }

  /* span entire footer */
  .footer-name {
    grid-column: 1 / 4;
    justify-self: left;
  }

  .footer-name h1 {
    font-size: 28px;
    width: max-content;
  }

  .copyright {
    grid-column: 1 / 4;
  }
}

/* list view of items */
@media only screen and (max-width: 550px) {
  footer {
    padding: 0 40px 60px 40px;
  }

  .footer-container {
    grid: repeat(5, min-content) / 1fr;
    grid-row-gap: 40px;
    justify-items: center;
  }
  
  .footer-item {
    width: 100%;
    justify-self: center;
  }

  .footer-name,
  .copyright {
    grid-column: 1;
  }

  .footer-name h1 {
    font-size: 24px;
  }
  
  footer p,
  footer .link {
    font-size: 16px;
  }

  .copyright {
    margin-top: 40px;
  }
  .copyright p {
    font-size: 16px;
  }

  .footer-contact {
    font-size: 14px;
  }
}
