/* ======================== */
/* Default elements styling */
/* ======================== */

html {
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  font-family: 'Red Hat Display', sans-serif;

  scroll-behavior: smooth;
  scrollbar-color: hsl(220, 15%, 35%) hsl(220, 15%, 20%);
}

:root {
  --light: hsl(200, 0%, 88%);

  --btn: hsl(182, 47%, 58%);
  --btn-light: hsla(182, 47%, 80%);
  --highlight: hsla(182, 47%, 58%, 60%);

  --shadow: hsla(220, 15%, 7%, 50);
  --clear: hsla(220, 15%, 7%, 0);
  
  --black-gray: hsl(220, 15%, 7%);
  --dark-gray: hsl(220, 15%, 10%);
  --med-gray: hsl(220, 15%, 15%);
  --light-gray: hsl(220, 20%, 60%);
  --white-gray: hsl(220, 15%, 75%);

  --header: var(--light);
  --text: var(--white-gray);
  --line-height: 1.5;

  --speed: 150ms;
  --click-speed: 80ms;
  --fade-speed: 305ms;
}

/* text highlight color */
::selection {
  background-color: var(--highlight);
  color: var(--light);
}

::-moz-selection {
  background-color: var(--highlight);
  color: var(--light);
}

/* custom scrollbar */
::-webkit-scrollbar {
  background: var(--light);
}

::-webkit-scrollbar-track {
  background: hsl(220, 15%, 20%);
}

::-webkit-scrollbar-thumb {
  background: hsl(220, 15%, 35%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(220, 15%, 45%);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li,
lh {
  color: var(--text);
  font-size: 20px;
}

h1 {
  color: var(--header);
  font-size: 36px;
  font-weight: 600;
}

h2 {
  color: var(--text);
  font-size: 24px;
  font-weight: 600;
}

p {
  color: var(--text);
  font-size: 20px;
  line-height: var(--line-height);
}

a {
  color: var(--text);
  font-size: 20px;
  text-decoration: none;
}

img {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--btn);
}

main {
  display: grid;

  justify-items: center;

  width: 100%;

  background-color: var(--black-gray);
}

/* ======================= */
/* Custom elements styling */
/* ======================= */

/* wraps all page components */
.box-container {
  justify-self: center;
  z-index: 0;

  padding: 0;
  margin: 0 auto 100px auto;
  width: 100%;
  max-width: 1200px;

  background-color: var(--dark-gray);
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  box-shadow: 0px 0px 5px 2px var(--shadow);
}

@media only screen and (max-width: 1200px) {
  .box-container {
    border-left: none;
    border-right: none;
  }
}

/* positions internal link destinations */
.anchor {
  position: absolute;
  transform: translateY(10vh);
}

/* diagonal line across page */
.diag-line {
  position: relative;
  z-index: 3;

  padding: 0.5px;
  width: 100%;

  background-color: var(--light-gray);
  
  transition: var(--speed);
  transform: skewY(-8deg);
}

/* no line break */
.multi-word {
  width: max-content;
}

/* ========== */
/* Animations */
/* ========== */

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}

/* ============== */
/* Responsiveness */
/* ============== */
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  p, li, a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
