/* ================================= */
/* ============ styling ============ */
/* ================================= */



/* ================================= */
/* ======== initial set up ========= */
/* ================================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --header: var(--light);
  --text: var(--light);
  --light: hsl(200, 0%, 88%);
  --highlight: white;
  --btn: hsl(182, 47%, 58%);
  --clear: hsla(0, 0%, 0%, 0);
  --dark-gray: hsl(0, 0%, 6%);
  --med-gray: hsl(0, 0%, 10%);

  --speed: 150ms;
  --click-speed: 80ms;
  --fade-speed: 305ms;

  --line-height: 1.4;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
lh {
  font-size: 20px;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

a {
  color: (var(--text));
  text-decoration: none;
  font-size: 20px;
}

.anchor {
  position: absolute;
  transform: translateY(10vh);
}

img {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

main {
  width: 100%;
  background-color: var(--dark-gray);
  display: grid;
  justify-items: center;
}

.box-container {
  justify-self: center;
  margin: 0 auto 100px auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  background-color: black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 0;
}

.diag-line {
  padding: 0.5px;
  background-color: white;
  position: relative;
  z-index: 3;
  transform: skewY(-8deg) translateY(45px);
  transition: var(--speed);
  width: 100%;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
