/* ======================== */
/* Default elements styling */
/* ======================== */

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  font-family: 'Red Hat Display', sans-serif;

  scroll-behavior: smooth;
}

:root {
  --light: hsl(200, 0%, 88%);
  --btn: hsl(182, 47%, 58%);
  --highlight: hsla(182, 47%, 58%, 60%);
  --clear: hsla(0, 0%, 0%, 0);
  --dark-gray: hsl(220, 5%, 7%);
  --med-gray: hsl(220, 5%, 9%);
  --light-gray: hsl(0, 0%, 20%);

  --header: var(--light);
  --text: var(--light);
  --line-height: 1.4;

  --speed: 150ms;
  --click-speed: 80ms;
  --fade-speed: 305ms;
}

/* text highlight color */
::selection {
  background-color: var(--highlight);
  color: var(--text);
}

::-moz-selection {
  background-color: var(--highlight);
  color: var(--text);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li,
lh {
  font-size: 20px;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

a {
  color: (var(--text));

  font-size: 20px;
  text-decoration: none;
}

img {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--btn);
}

main {
  display: grid;

  justify-items: center;

  width: 100%;

  background-color: var(--dark-gray);
}

/* ======================= */
/* Custom elements styling */
/* ======================= */

/* wraps all page components */
.box-container {
  justify-self: center;
  z-index: 0;

  padding: 0;
  margin: 0 auto 100px auto;
  width: 100%;
  max-width: 1200px;

  background-color: black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

/* positions internal link destinations */
.anchor {
  position: absolute;
  transform: translateY(10vh);
}

/* diagonal line across page */
.diag-line {
  position: relative;
  z-index: 3;

  padding: 0.5px;
  width: 100%;

  background-color: white;
  
  transition: var(--speed);
  transform: skewY(-8deg);
}

/* ========== */
/* Animations */
/* ========== */

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}
