/* ====================== */
/* Logo component styling */
/* ====================== */

.logo {
  grid-row: 1;
  grid-column: 1;

  justify-items: center;
  align-items: center;
  text-align: center;
  z-index: 1;

  padding: 5px 20px;
  width: auto;
  height: 36px;
  
  background-color: var(--btn);
  color: var(--dark-gray);
  border: 1px solid var(--btn);
  border-radius: 20px;
  
  transition: var(--speed);
}

.logo:hover {
  background-color: var(--light);
  border: 1px solid var(--dark-gray);
  filter: invert(1);

  transition: var(--speed);
  transform: translate(1px, -1px);
}

.logo:hover + .outline {
  border: 1px solid var(--light);
}

/* on click indicator */
.logo:active {
  background-color: black;
  transition: var(--click-speed);
  transform: translate(3px, -3px);
}

.logo-outline {
  width: auto;
}
